<!DOCTYPE html>
<html>
<head>
	<title>Medilab - Soluções Médicas</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
	<link href="/stylesheets/material-dashboard.css" type="text/css" rel="stylesheet"/>
	{{{css}}}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Um projeto de clinica medica">
	<meta name="keywords" content="Medilab, clinica, medica, clinic, medical">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Bitter|Roboto:400,700,300|Material+Icons">
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
{{#if success_msg}}
	<div class="alert alert-success">{{success_msg}}</div>
{{/if}}
{{#if error_msg}}
	<div class="alert alert-danger">{{error_msg}}</div>
{{/if}}
{{#if error}}
	<div class="alert alert-danger">{{error}}</div>
{{/if}}
	<div class="wrapper">
		<div class="sidebar" data-color="green" data-image="/images/sidebar-6.jpg">
			<div class="logo">
				<a href="/internal/patient/appointments">
					<img src="/images/logoColored.png" alt="logo" class="logo-img">
				</a>
			</div>
	
			<div class="sidebar-wrapper">
				<ul class="nav">
					<li class="{{#if appointments}}active{{/if}}">
						<a href="/internal/patient/appointments">
							<i class="material-icons">content_paste</i>
							<p>Consultas</p>
						</a>
					</li>
					<li class="{{#if maps}}active{{/if}}">
						<a href="/internal/patient/maps">
							<i class="material-icons">location_on</i>
							<p>A clinica</p>
						</a>
					</li>
				</ul>
			</div>
		</div>
	
		<div class="main-panel">
			<nav class="navbar navbar-transparent navbar-absolute">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">{{title}}</a>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<i class="material-icons">notifications</i>
									<span class="notification">5</span>
									<p class="hidden-lg hidden-md">Notifications</p>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#">Mike John responded to your email</a></li>
									<li><a href="#">You have 5 new tasks</a></li>
									<li><a href="#">You're now friend with Andrew</a></li>
									<li><a href="#">Another Notification</a></li>
									<li><a href="#">Another One</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<i class="material-icons">person</i>
									<p class="hidden-lg hidden-md">Profile</p>
								</a>
								<ul class="dropdown-menu">
									<li><a href="/internal/patient/profile">Editar o seu perfil</a></li>
									<li class="divider"></li>
									<li><a href="/internal/logout">Logout</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			{{{body}}}
			{{#if footer}}
			<footer class="footer">
				<div class="container-fluid">
					<p class="copyright pull-right">
						Powered by <a href="http://www.brunoborta.com.br">Bruno Bortagaray</a>
					</p>
				</div>
			</footer>
			{{/if}}
		</div>
	</div>
	{{#if modal}}
	<!-- Modal Core -->
	<div class="modal fade" id="newAppointment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Nova Consulta</h4>
				</div>
				<div class="modal-body">
					<form method="post" action="/internal/patient/profile" enctype="multipart/form-data">
						{{#if errors}}
							{{#each errors}}
								<div class="alert alert-danger">{{msg}}</div>
							{{/each}}
						{{/if}}
						
						<div class="row">
							<div class="col-sm-6 col-xs-12">
								<div class="form-group label-floating">
									<label class="control-label">Especialidade <small>(requerido)</small></label>
									<select name="especialidade" id="especialidade" class="form-control" required>
										<option class="disabledOption" disabled="" selected=""></option>
										<option value="1">Dermatologia</option>
										<option value="2">Endocrinologia</option>
										<option value="3">Ginecologia</option>
										<option value="4">Hematologia</option>
										<option value="5">Nefrologia</option>
										<option value="6">Neurologia</option>
										<option value="7">Oftalmologia</option>
										<option value="8">Psiquiatria</option>
										<option value="9">Urologia</option>
									</select>
								</div>
							</div>
							<div class="col-sm-6 col-xs-12">
								<div class="form-group label-floating">
									<label class="control-label">Medico <small>(requerido)</small></label>
									<select name="medico" id="medico" class="form-control">
										<option class="disabledOption" disabled="" selected=""></option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-xs-12">
								<div class="form-group label-floating">
									<label class="control-label">Data <small>(requerido)</small></label>
									<select name="data" id="data" class="form-control" required>
										<option class="disabledOption" disabled="" selected=""></option>
									</select>
								</div>
							</div>
							<div class="col-sm-6 col-xs-12">
								<div class="form-group label-floating">
									<label class="control-label">Hora <small>(requerido)</small></label>
									<select name="hora" id="hora" class="form-control" required>
										<option class="disabledOption" disabled="" selected=""></option>
									</select>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button id="sairModal" type="button" class="btn btn-default btn-simple" data-dismiss="modal">Sair</button>
					<button id="marcarModal" type="submit" class="btn btn-info btn-simple">Marcar</button>
				</div>
			</div>
		</div>
	</div>
	{{/if}}
	<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.easing.min.js"></script>
	<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="/javascripts/material.min.js"></script>
	<script type="text/javascript" src="/javascripts/material-dashboard.js"></script>
	{{{js}}}
	</body>
</html>
