<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header" data-background-color="green">
						<h4 class="title">Suas consultas</h4>
						<p class="category">Verifique as suas consultas marcadas</p>
					</div>
					<div class="card-content table-responsive">
						<table class="table">
							<thead class="text-primary">
								<th>Nome do Médico</th>
								<th>Data</th>
								<th>Hora</th>
								<th>Ação</th>
							</thead>
							<tbody id="appointmentTable">
							{{#each appointments}}
								<tr>
									<td>{{this.nome}}</td>
									<td>{{this.data}}</td>
									<td>{{this.hora}}</td>
									<td>
										<a class="btn btn-danger btn-fab btn-fab-mini btn-round cancelar-consulta" rel="tooltip" data-original-title="Cancelar consulta" data-placement="right" data-medic="{{this.id}}" data-time="{{this.dataTempo}}">
											<i class="material-icons">error</i>
											<div class="ripple-container"></div>
										</a>
									</td>
								</tr>
							{{else}}
								<tr id="noAppointment">
									<td>Não há consultas marcadas por você ainda. Clique no botao e marque!</td>
								</tr>
							{{/each}}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<a class="btn btn-info pull-right" data-toggle="modal" data-target="#newAppointment">Nova Consulta</a>
	</div>
</div>
